<a href="https://colab.research.google.com/github/Swastika-Roy/Python-Tutorial/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Empty list
empty_list = []
print(empty_list)

#list with integers
numbers=[1,2,3,4,5]
print(numbers)

#list with strings
fruits = ["apple","banana","cherry"]
print(fruits)

[]
[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']

In [5]:
mix = [1,2,3,"apple","banana",3.14,True,True,None]
print(mix)

[1, 2, 3, 'apple', 'banana', 3.14, True, True, None]

In [8]:
#squares of 0-9
# l = [0,1,2,3,4,5,6,7,8,9]
# l2 = []
# for i in l:
#   l2.append(i*i)
# print(l2)

sq = [x**2 for x in range(10)]
print(sq)

#even no
# l3 = [0,1,2,3,4,5,6,7,8,9]
# l4 = []
# for i in l3:
#   if(i % 2 == 0):
#     l4.append(i)
# print(l4)

even = [x for x in range(10) if x % 2 == 0]
print(even)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [10]:
fruits = ["apple","banana","cherry","date","elderberry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[-1])
print(fruits[-2])
print(fruits)

apple
banana
cherry
date
elderberry
date
['apple', 'banana', 'cherry', 'date', 'elderberry']

In [12]:
fruits = ["apple","banana","cherry","date","elderberry"]
# try:
#   print(fruits[10])
# except IndexError as e:
#   print(f"Error : {e}")

if "Mango" in fruits:
  print("Mango is present in the list")
else:
  print("Mango is not present in the list")

if "grape" in fruits:
    print("grape is present in the list")
else:
    print("grape is not present in the list")

Mango is not present in the list
grape is not present in the list

In [14]:
numbers = [1,2,3,4,5]
# numbers[1] = 2 * 10
# numbers[2] = 3 * 10
# numbers[3] = 4 * 10
numbers[1:4] = [20,30,40]
print(numbers)

[1, 20, 30, 40, 5]

In [16]:
fruits = ["apple","banana","cherry","date","elderberry"]
fruits.append("fig")
print(fruits)
fruits.insert(2,"guava")
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
['apple', 'banana', 'guava', 'cherry', 'date', 'elderberry', 'fig']

In [18]:
fruits = ['litchi','banana','apple']
fruits.extend(['fig','date','cherry'])
print(fruits)

['litchi', 'banana', 'apple', 'fig', 'date', 'cherry']

In [19]:
fruits = ['litchi','banana','apple']
fruits.remove('banana')
print(fruits)

['litchi', 'apple']

In [21]:
fruits = ["apple","banana","cherry","date","elderberry"]
fruits.pop()
print(fruits)

['apple', 'banana', 'cherry', 'date']

In [20]:
fruits = ["apple","banana","cherry","date","elderberry"]
fruits=fruits+["gauva","date"]
fruits.clear()
print(fruits)

[]

In [22]:
fruits = ["apple", "banana", "cherry"]
del(fruits[1])
print(fruits)

['apple', 'cherry']

In [28]:
fruits = ["apple", "banana", "cherry","banana"]
idx = fruits.index("banana")
print(idx)
# print(fruits)
idx = fruits.index("banana",2)
print(idx)
# print(fruits)
try:
  fruits.index("grape")
except ValueError as e:
  print(f"Element not found")
fruits.count("banana")

1
3
Element not found

2

In [30]:
numbers = [3,1,4,2,5]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)
fruits = ["apple","banana","cherry","date","elderberry"]
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['apple', 'banana', 'cherry', 'date', 'elderberry']
['elderberry', 'date', 'cherry', 'banana', 'apple']

In [32]:
words = ["apple","banana","cherry","date","elderberry"]
words.sort(key=len)
print(words)

stds = ["Alice","bob","Charlie","David","fan"]
stds.sort(key=str.lower)
print(stds)

['date', 'apple', 'banana', 'cherry', 'elderberry']
['Alice', 'bob', 'Charlie', 'David', 'fan']

In [33]:
fruits=["Apple","Banana"]
fruits.extend("Swastika")
print(fruits)

['Apple', 'Banana', 'S', 'w', 'a', 's', 't', 'i', 'k', 'a']

In [34]:
#shallowcopy
original = [1,2,3]
cp = original.copy()
cp.append(4)

print(original)
print(cp)

[1, 2, 3]
[1, 2, 3, 4]

In [44]:
nums = [0,1,2,3,4,5,6,7,8,9]
# print(nums[2:6])
# print(nums[:5])
# print(nums[5:])
# print(nums)

# #slicing with half
# h1 = nums[:len(nums)//2]
# print(h1)
# h2 = nums[len(nums)//2:]
# print(h2)

# Printing every 2nd and 3rd element
# print(nums[::2])
# print(nums[::3])
# print(nums[1::2])
# print(nums[::-1])
print(nums[:-2])
print(nums[-6:-2])
print(nums[5:2:-1])

[0, 1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[5, 4, 3]

In [49]:
#remove duplicates while preserving order
original_list = [1,2,2,3,4,3,5]

seen = set()
result = []
for item in original_list:
    if item not in seen:
        seen.add(item)
        result.append(item)

print(result)

TypeError: 'set' object is not callable

In [59]:
#remove duplicates while preserving order
original_list = [1,2,2,3,4,3,5]

def remove_duplicates(lst):
    seen = []
    for item in lst:
        if item not in seen:
            seen.append(item)
    return seen

result = print(remove_duplicates(original_list))

[1, 2, 3, 4, 5]