<a href="https://colab.research.google.com/github/Swastika-Roy/Python-Tutorial/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student = {
    "name" : "John",
    "age" : 20,
    "grade" : "A",
}
# print("name" in student)
# print("grade" in student)
# print("grade" not in student)
# print("John" in student)
print(len(student))
# print(student)
# print(type(student))

True
True
False
False
3

In [ ]:
empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

person = dict(name = "John", age = 20)
print(person)
print(type(person))

pairs = [("name","charlie"),("age",35),("city","paris")]
person2=dict(pairs)
print(person2)
print(type(person2))

{}
<class 'dict'>
{'name': 'John', 'age': 20}
<class 'dict'>
{'name': 'charlie', 'age': 35, 'city': 'paris'}
<class 'dict'>

In [ ]:
empty_dict = dict()
keys = ["name","age","city"]
default_dict = dict.fromkeys(keys,"unknown")
print(default_dict)

default_dict2 = dict.fromkeys(keys)
print(default_dict2)

{'name': 'unknown', 'age': 'unknown', 'city': 'unknown'}
{'name': None, 'age': None, 'city': None}

In [ ]:
student = {
    "name" : "Swastika Roy",
    "age" : 21,
    "cgpa" : "8.7",
    "stream" : "IT"
}
# print(student)
# print(student.keys()) #all keys
# print(student.values()) #all vals
# print(student.items()) #all key val pairs
print(student.get("name"))
print(student.get("grade"))
print(student.get("grade","not available"))  # overrides none to not available

{'name': 'Swastika Roy', 'age': 21, 'cgpa': '8.7', 'stream': 'IT'}
dict_keys(['name', 'age', 'cgpa', 'stream'])
dict_values(['Swastika Roy', 21, '8.7', 'IT'])
dict_items([('name', 'Swastika Roy'), ('age', 21), ('cgpa', '8.7'), ('stream', 'IT')])
Swastika Roy
None
not available

In [ ]:
car = {
    "brand" : "Toyota",
    "model" : "Camry",
    "year" : 2020
}
# print(car["brand"])
# print(car["year"])
car["color"] = "red"
# print(car)
print("after adding color : ",car)
car["year"] = 2021
print("after updating year : ",car)

after adding color :  {'brand': 'Toyota', 'model': 'Camry', 'year': 2020, 'color': 'red'}
after updating year :  {'brand': 'Toyota', 'model': 'Camry', 'year': 2021, 'color': 'red'}

In [ ]:
car = {
    "brand" : "Toyota",
    "model" : "Camry",
    "year" : 2020
}
car.update({"model" : "Corolla", "price" : 25000,"type" :"SEDAN"})
print("AFTER UPDATE " ,car)
del car["type"]
print("AFTER DEL " ,car)
#using pop() - remove and return val
model = car.pop("model")
print("poped val : ",model)
print("after pop() : ",car)
#using pop() default val
price = car.pop("price","not found")
print("popped price : ",price)

AFTER UPDATE  {'brand': 'Toyota', 'model': 'Corolla', 'year': 2020, 'price': 25000, 'type': 'SEDAN'}
AFTER DEL  {'brand': 'Toyota', 'model': 'Corolla', 'year': 2020, 'price': 25000}
poped val :  Corolla
after pop() :  {'brand': 'Toyota', 'year': 2020, 'price': 25000}
popped price :  25000

In [ ]:
dict1 = {"a" : 1, "b" : 2}
dict2 = {"c" : 3, " d" : 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, ' d': 4}

In [ ]:
dict3 = {"a" : 1, "b" : 2}
dict4 = {"b" : 3, " d" : 4}
merged = {**dict3,**dict4} #merging version 3.5
print("using ** operator : ",merged)

using ** operator :  {'a': 1, 'b': 3, ' d': 4}

In [ ]:
dict5 = {"a" : 1, "b" : 2}
dict6 = {"b" : 3, " d" : 4}
merged = dict5 | dict6
print("using | operator : ",merged)

using | operator :  {'a': 1, 'b': 3, ' d': 4}

In [ ]:
dict7 = {"a" : 1, "b" : 2}
dict8 = {"b" : 3, " c" : 4}
merged = {**dict7, **dict8}
print("with duplicates : ",merged)

with duplicates :  {'a': 1, 'b': 3, ' c': 4}

In [ ]:
student = {
    "name" : "Swastika Roy",
    "age" : 21,
    "cgpa" : "8.7",
    "stream" : "IT"
}
for key in student:
    print(key)
print()
for key in student.keys():
  print(key)
print()
for value in  student.values():
  print(value)
print()
for key,value in student.items():
  print(f"{key} : {value}")

name
age
cgpa
stream

name
age
cgpa
stream

Swastika Roy
21
8.7
IT

name : Swastika Roy
age : 21
cgpa : 8.7
stream : IT

In [ ]:

student = {
  "student1" : {
      "name" : " Roy",
      "age" : 21,
      "course":{
          "Maths" : "B",
          "Physics" : "A",
          "Chemistry" : "A"
      }
  },
  "student2" : {
       "name" : " M Roy",
      "age" : 22,
      "course":{
          "Maths" : "C",
          "Physics" : "A",
          "Chemistry" : "A"
      }
  },
 "student3" : {
       "name" : " D Roy",
      "age" : 24,
      "course":{
          "Maths" : "B",
          "Physics" : "A",
          "Chemistry" : "C"
      }
  }
}

print("Student name : ",student["student1"]["name"])
print("Student age : ",student["student1"]["age"])
print("Student course : ",student["student1"]["course"]["Maths"])
print()
for key,value in student.items():
  for key,value in value.items():
    print(f"{key} : {value}")
  print()

Student name :   Roy
Student age :  21
Student course :  B

name :  Roy
age : 21
course : {'Maths': 'B', 'Physics': 'A', 'Chemistry': 'A'}

name :  M Roy
age : 22
course : {'Maths': 'C', 'Physics': 'A', 'Chemistry': 'A'}

name :  D Roy
age : 24
course : {'Maths': 'B', 'Physics': 'A', 'Chemistry': 'C'}

In [ ]:
nums = [1,2,3,4,5]
sq = {num: num**2 for num in nums}
print(sq)
cubes = {num : num**3 for num in range(1,6)}
print(cubes)
words = {"apple","banana","cherry"}
word_len = {word : len(word) for word in words}
print(word_len)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{'apple': 5, 'banana': 6, 'cherry': 6}

In [ ]:
keys = ["name","age","city"]
vals = ["alice",25,"New York"]
person = {keys[i] : vals[i] for i in range(len(keys))}
print(person)

{'name': 'alice', 'age': 25, 'city': 'New York'}

In [ ]:
nums = range(1,11)
result = {num: num**2 for num in nums if num % 2 == 0}
print(result)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
words = ["hi","hello","hey","goodbye","yes"]
word_len = {word : len(word) for word in words if len(word) > 3}
print(word_len)

student = {"john":85,"emma":92,"alice":78,"bob":95}
passed_students = {name : marks for name,marks in student.items() if marks >= 90}
print(passed_students)

{'hello': 5, 'goodbye': 7}
{'emma': 92, 'bob': 95}

In [ ]:
prices = {"apple":1.00,"banana":0.50,"orange":0.75}
inc_price = {key: value * 1.1 for key, value in prices.items()}
print(inc_price)

{'apple': 1.1, 'banana': 0.55, 'orange': 0.8250000000000001}

In [ ]:
prices = {"appple":1.00,"banana":0.50,"orange":0.75}
inc_price = {'apple':1.1,'banana':0.55,'orange':0.825}
print(inc_price)

{'appple': 1.2, 'banana': 0.6, 'orange': 0.8999999999999999}

In [ ]:
#convert celcius to farhenite
celcius = {"morning" : 20,"afternoon":25,"evening":30}
# farhenite = {f : (c * 9/5) + 32 for f,c in celcius.items()}
f = {f : (9/5 *c) + 32 for f,c in celcius.items()}
print(f)

{'morning': 68.0, 'afternoon': 77.0, 'evening': 86.0}

In [ ]:
input={"a":1,"b":2,"c":3}
output={input["a"]:"c",input["b"]:"b"}
print(output)

In [ ]:
input={"a":1,"b":2,"c":1}
output={1:"c",2:"b"}
swap = {val : key for key,val in input.items()}
print(swap)

{1: 'c', 2: 'b'}